<form data-id="<%=user.id%>" class="newgoal" action="/users/<%=user.id%>/goals/new" method="post">
  <input type ="text" name="title" placeholder="Title">
  <input type ="text" name="picture" placeholder="Picture Url">
  <input type ="text" name="description" placeholder="Description">
  <input type ="text" name="location" placeholder="Location">
  <input type ="submit" value="ADD IT">
</form>