<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
</head>

<body id="index">
  <div id="quote">
    <p class ="quote"><span class="big">" </span>When you think of <span class="big">Memories</span></p>
    <p class ="quote">You've made with <span class="big">Friends..</span></p>
    <p class ="quote">Those memories become <span class="big">Treasures "</span></p>
  </div>

  <h1 id="title"><i class="fa fa-bitbucket"></i> DREAM BUCKET</h1>
  <h2 id="subtitle">SOCIAL BUCKET LIST </i></h2>


  <div id="signin">
    <h3>Welcome Back!</h3>
    <form id="sign_in" action="/sessions" method="post">
      <input type ="text" name="email" placeholder="Email">
      <input type ="password" name="password" placeholder="Password">
      <input type ="submit" value="Sign In">
    </form>
  </div>

  <div id="signup">
    <h3>New to Dream Bucket?</h3>
    <form id="sign_up" action="/users" method="post">
      <input type ="text" name="name" placeholder="Username">
      <input type ="text" name="email" placeholder="Email">
      <input type ="password" name="password" placeholder="Password">
      <input type ="submit" value="Sign Up">
    </form>
  </div>
</body>
</html>
